.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

* {
    font-family: "Franklin Gothic Book", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

.dog {
    width: 1000px;
    height: 860px;
}

.dog-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cat {
    width: 1000px;
    height: 860px;
}

.cat-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.bitcoin-block {
    width: 250px;
    height: 250px;
    text-align: center;
    background: rgba(136, 136, 136, 0.59);
    border: 2px solid red;
    border-radius: 20px;
}

.moon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.input {
    width: 250px;
    height: 30px;
    border: 2px solid transparent;
    outline: none;
    border-bottom: 2px solid #3f3f3f;
    caret-color: #3f3f3f;
    background-color: #212121;
    padding: 5px;
    transition: .5s linear;
    font-family: monospace;
    letter-spacing: 1px;
}

.input:focus {
    border: 2px solid #fa4753;
    caret-color: #fa4753;
    color: #fa4753;
    box-shadow: 4px 4px 10px #070707;
}

.input:focus::placeholder {
    color: #fa4753;
}

.weatherInfo {
    margin-top: 20px;
}

.city {
    font-size: 20px;
    margin: 10px 0;
}

.temp {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}